// Provisoire. 
#app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
// Footer
#footer {
    i {
        font-size: 30px;
        transition: all .3s;
        &:hover {
            transform: scale(1.2);
            transition: all .3s;
        }
    }
}