// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

// Variables
$primaryFont: 'Ubuntu', sans-serif;

// Global
body {
    font-family: $primaryFont !important;
}

// 
p {
    font-size: 1.2rem;
}
h1 {
    margin-bottom: 2rem;
}
.text-justify {
    text-align: justify;
}
